body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
// estilos header programas

.header-home-programas{
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: #f8abd6;
    h1{
        font-size: 20px;
    }
    p{
        text-align: center;
    }
}

// estilos main programas

.main-programas {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.seccion-programa-ministerial{
    background-color: #e4e0e0;
}
.seccion-programa-teens{
    background-color: #e4e0e0;
}
.seccion-programa-kids{
    background-color: #e4e0e0;
}
.seccion-programa-personalizado{
    background-color: #e4e0e0;
}
.main-programas h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    p{
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
    }
}
.pregunta1{
    font-weight: bold;
}
.pregunta2{
    font-weight: bold;
}
.pregunta3{
    font-weight: bold;
}
.pregunta4{
    font-weight: bold;
}
.pregunta5{
    font-weight: bold;
}
.pregunta6{
    font-weight: bold;
}
.pregunta7{
    font-weight: bold;
}
.pregunta8{
    font-weight: bold;
}
.pregunta9{
    font-weight: bold;
}
.pregunta10{
    font-weight: bold;
}
.pregunta11{
    font-weight: bold;
}
.pregunta12{
    font-weight: bold;
}

// ---------------------------------------------------------------------------

@media screen and (min-width: 768px){
    .header-home-programas{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        background-color: #fdd5ec;
    }
    .header-home-programas h1{
        font-size: 35px;
    }
    .header-home-programas p{
        text-align: center;
        font-size: 20px;
    }
    /* main programas */ 
    .main-programas p{
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    } 
}
@media screen and (min-width: 1024px){
    .main-programas h3{
        font-size: 20px;
    }
}